<%- include('includes/header') %>
<div class="wrapper ">
    <%- include('includes/sidebar') %>
    <div class="main-panel">
        <%- include('includes/navbar') %>
        <div class="content">
            <div class="container-fluid row">
                <div class="col-md-1 col-sm-12"></div>
                <div class="col-md-10 col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <form method="post" <% if(typeof user == 'object' && module =="profile"){ %> action="/profile" <% } else if (typeof user == 'object') { %> action="<%= user._id %>" <% } %>>
                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                      <label for="name" data-i18n="name"></label>
                                      <input type="text" data-i18n="[placeholder]name" class="form-control" name="name" value="<% if(typeof user == 'object' && user.name){ %><%= user.name %><% } %>" <% if (mode == "view") { %> disabled <% } %>>
                                    </div>
                                    <% if (module != "profile") { %>
                                        <div class="form-group col-md-12">
                                            <label class="control-label" data-i18n="role"></label>
                                            <select class="form-control" name="role" onchange="show_user_fields(this.value)" <% if (mode != "add") { %> disabled <% } %> >
                                                <% if (account.user && account.user.role=="admin") { %>
                                                <option value="admin" data-i18n="admin" <% if(typeof user == 'object' &&  user.role=='admin'){ %>selected="selected"<% } %>></option>
                                                <% } %>
                                                <option value="client" data-i18n="client" <% if(typeof user == 'object' &&  user.role=='client'){ %>selected="selected"<% } %>></option>
                                                <% if (account.user && account.user.role=="admin") { %>
                                                <option value="moderator" data-i18n="moderator" <% if(typeof user == 'object' &&  user.role=='moderator'){ %>selected="selected"<% } %>></option>
                                                <% } %>
                                            </select>
                                        </div>
                                    <% } %>
                                    <div class="form-group col-md-12">
                                        <label for="language" data-i18n="language">Language</label>
                                        <select name="language" class="form-control" <% if (mode == "view") { %> disabled <% } %> >
                                            <option value="en" data-i18n="english" <% if(typeof user == 'object' &&  user.language=='en'){ %> selected="selected" <% } %>></option>
                                            <option value="fr" data-i18n="french" <% if(typeof user == 'object' &&  user.language=='fr'){ %> selected="selected" <% } %>></option>
                                            <option value="hi" data-i18n="hindi" <% if(typeof user == 'object' &&  user.language=='hi'){ %> selected="selected" <% } %>></option>
                                            <option value="es" data-i18n="spanish" <% if(typeof user == 'object' &&  user.language=='es'){ %> selected="selected" <% } %>></option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-12" id="user-email">
                                        <label for="email" data-i18n="email"></label>
                                        <input type="text" data-i18n="[placeholder]email" class="form-control" name="email" value="<% if(typeof user == 'object' && user.email){ %><%= user.email %><% } %>" <% if (mode == "view" || (account.user && account.user.role=="client")) { %> disabled <% } %> >
                                    </div>
                                    <div class="form-group col-md-12" id="user-username">
                                        <label for="username" data-i18n="username"></label>
                                        <input type="text" data-i18n="[placeholder]username" class="form-control" name="username" value="<% if(typeof user == 'object' && user.username){ %><%= user.username %><% } %>" <% if (mode == "view") { %> disabled <% } %> >
                                    </div>
                                    <% if ((account.user && account.user.role=="admin") || module=="profile") { %>
                                    <div class="form-group col-md-12">
                                        <label for="password" data-i18n="password"></label>
                                        <input type="password" data-i18n="[placeholder]new-password" class="form-control" name="password" autocomplete="new-password">
                                    </div>
                                    <% } %>
                                    <% if (typeof user == 'object' && user.created_time) { %>
                                    <div class="form-group col-md-12">
                                        <label data-i18n="created-time"></label>
                                        <input data-i18n="[value]<%= user.created_time %>" data-i18n-options="moment-js" class="form-control" disabled type="text">
                                    </div>
                                    <% } %>
                                    <% if (typeof user == 'object' && user.timestamp) { %>
                                    <div class="form-group col-md-12">
                                        <label data-i18n="last-seen"></label>
                                        <input data-i18n="[value]<%= user.timestamp %>" data-i18n-options="moment-js" class="form-control" disabled type="text">
                                    </div>
                                    <% } %>
                                    <% if (typeof user == 'object') { %>
                                        <a class="btn btn-primary" data-i18n="[title]enable-2FA;enable-2FA" href="/setup2FA"></a>
                                    <% } %>
                                </div>
                                <% if (mode != "view") { %>
                                <button class="btn btn-primary pull-right" type="submit" data-i18n="[title]save;save"></button>
                                <% } %>
                                <a class="btn btn-primary pull-right" data-i18n="[title]cancel;cancel" <% if (module=="profile") { %> href="/profile" <% } else if (typeof user == 'object' && typeof user.role == 'string') { %>href="/users?role=<%= user.role %>"<% } else { %> href="/users" <% } %>></a>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-1 col-sm-12"></div>
            </div>
        </div>
    </div>
</div>

<script>
    function show_user_fields(val) {
        if (val == 'client') {
            $('#user-username').addClass('hide');
            $('#user-username').removeAttr('disabled');
            $('#user-email').attr('disabled', '');
            $('#user-email').removeClass('hide');
        } else {
            $('#user-email').addClass('hide');
            $('#user-email').removeAttr('disabled');
            $('#user-username').attr('disabled', '');
            $('#user-username').removeClass('hide');
        }
    }
    show_user_fields('<% if(typeof user == "object"){ %><%= user.role %><% } %>')
</script>
    
<%- include('includes/footer') %>
<!-- && user.2FAstate == false -->