<%- include('includes/header') %>
<div>
    <div>
        Here is the list of releases:
    </div>
    <% for(var i=0; i < releases.length; i++) { %>
        <div style="margin: 15px;">
            <div>name: <%= releases[i].name %></div>
            <div>namespace: <%= releases[i].namespace %></div>
            <div>revision: <%= releases[i].revision %></div>
            <div>updated: <%= releases[i].updated %></div>
            <div>status: <%= releases[i].status %></div>
            <div>chart: <%= releases[i].chart %></div>
            <div>app_version: <%= releases[i].app_version %></div>
        </div>
    <% } %>
</div>
<%- include('includes/footer') %>
