<%- include('includes/header') %>
<div class="wrapper ">
    <%- include('includes/sidebar') %>
    <div class="main-panel">
        <%- include('includes/navbar') %>
        <div class="content">
            <div class="container-fluid">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title" data-i18n="list-of-releases"></h4>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="text-center">#</th>
                                    <th data-i18n="name"></th>
                                    <th data-i18n="namespace"></th>
                                    <th data-i18n="last-updated"></th>
                                    <th data-i18n="status"></th>
                                    <th class="text-center" data-i18n="actions"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for(var i=0; i < releases.length; i++) { %>
                                <tr>
                                    <td class="text-center"><%= i+1 %></td>
                                    <td><%= releases[i].name %></td>
                                    <td><%= releases[i].namespace %></td>
                                    <td data-i18n="<%= releases[i].updated %>" data-i18n-options="moment-js"></td>
                                    <td><%= releases[i].status %></td>
                                    <td class="td-actions text-center">
                                        <button button type="button" class="btn btn-primary" data-toggle="modal"
                                            data-target="#releasesModal" rel="tooltip"
                                            onclick='setModalContent(<%- JSON.stringify(releases[i]) %>)'>
                                            <i class="material-icons">info</i>
                                        </button>
                                    </td>
                                </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="modal fade" id="releasesModal" tabindex="-1" role="dialog" aria-labelledby="releaseName"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="card-title modal-title" id="releaseName"></h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <div class="modal-body">
                                <div>
                                    <span data-i18n="namespace"></span>:&nbsp;<span id="releaseNamespace"></span>
                                </div>
                                <div>
                                    <span data-i18n="revision"></span>:&nbsp;<span id="releaseRevision"></span>
                                </div>
                                <div>
                                    <span data-i18n="last-updated"></span>:&nbsp;<span id="releaseUpdated"></span>
                                </div>
                                <div>
                                    <span data-i18n="status"></span>:&nbsp;<span id="releaseStatus"></span>
                                </div>
                                <div>
                                    <span data-i18n="chart"></span>:&nbsp;<span id="releaseChart"></span>
                                </div>
                                <div>
                                    <span data-i18n="app-version"></span>:&nbsp;<span id="releaseAppVersion"></span>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal" data-i18n="close"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('includes/footer') %>