<%- include('includes/header') %>
<div class="wrapper ">
    <%- include('includes/sidebar') %>
    <div class="main-panel">
        <%- include('includes/navbar') %>
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <form method="get">
                                <div class="form-row">
                                    <div class="form-group col-md-3 menu-spacing">
                                        <input type="text" data-i18n="[placeholder]search-user"
                                            class="form-control user-search-input" name="q"
                                            value="<% if(query.q){ %><%= query.q %><% } %>">
                                    </div>
                                    <div class="form-group col-md-3 menu-spacing">
                                        <select name="role" class="form-control">
                                            <option disabled data-i18n="role"></option>
                                            <% if (account.user && account.user.role=="admin") { %>
                                            <option value="admin" data-i18n="admin"
                                                <% if(query.role=='admin'){ %>selected="selected" <% } %>></option>
                                            <% } %>
                                            <option value="client" data-i18n="client"
                                                <% if(query.role=='client' || !query.role){ %>selected="selected"
                                                <% } %>></option>
                                            <% if (account.user && account.user.role=="admin") { %>
                                            <option value="moderator" data-i18n="moderator"
                                                <% if(query.role=='moderator'){ %>selected="selected" <% } %>></option>
                                            <% } %>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-6 menu-spacing">
                                        <% if (account.user && account.user.role=="admin") { %>
                                        <a class="btn btn-primary pull-right" href="/users/add"
                                            data-i18n="add-user"></a>
                                        <% } %>
                                        <button type="submit" class="btn btn-primary pull-right"
                                            data-i18n="search"></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <% if(data.users.length == 0) {%>
                        <div class="text-center" style="margin-top:50px;">
                            <i class="material-icons dp96">info_outline</i>
                            <p data-i18n="no-user"></p>
                        </div>
                        <% } else { %>
                        <div class="card">
                            <div class="card-header card-header-primary row">
                                <div class="col-md-4 col-sm-4 col-lg-4 text-left">
                                    <% if(data.links.prev_page) { %>
                                    <a href="<%= data.links.prev_page %>" class="page-button" data-i18n="prev-page"></a>
                                    <% } %>
                                </div>
                                <div class="col-md-4 col-sm-4 col-lg-4 text-center" data-i18n="showing-results"
                                    data-i18n-options='<%- JSON.stringify({offset: data.offset + 1, to: data.offset + data.users.length, total: data.total}) %>'>
                                </div>
                                <div class="col-md-4 col-sm-4 col-lg-4 text-right">
                                    <% if(data.links.next_page) { %>
                                    <a href="<%= data.links.next_page %>" class="page-button" data-i18n="next-page"></a>
                                    <% } %>
                                </div>
                            </div>
                            <div class="card-body">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="text-center">#</th>
                                            <th data-i18n="name"></th>
                                            <th data-i18n="role"></th>
                                            <th data-i18n="credentials"></th>
                                            <th data-i18n="last-seen"></th>
                                            <th data-i18n="language"></th>
                                            <th class="text-center" data-i18n="actions"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% for(var i=0; i < data.users.length; i++) { %>
                                        <tr>
                                            <td class="text-center"><%= data.offset+i+1 %></td>
                                            <td><%= data.users[i].name %></td>
                                            <td data-i18n="<%= data.users[i].role %>"></td>
                                            <% if(data.users[i].username) { %>
                                            <td><%= data.users[i].username %></td>
                                            <% } else if(data.users[i].email) { %>
                                            <td><%= data.users[i].email %></td>
                                            <% } else { %>
                                            <td data-i18n="undefined"></td>
                                            <% } %>
                                            <td data-i18n="<%= data.users[i].timestamp %>" data-i18n-options="moment-js">
                                            </td>
                                            <% if(data.users[i].language =='en') { %>
                                            <td data-i18n="english"></td>
                                            <% } else if(data.users[i].language =='fr') { %>
                                            <td data-i18n="french"></td>
                                            <% } else if(data.users[i].language =='hi') { %>
                                            <td data-i18n="hindi"></td>
                                            <% } else if(data.users[i].language =='es') { %>
                                            <td data-i18n="spanish"></td>
                                            <% } else { %>
                                            <td><%= data.users[i].language %></td>
                                            <% } %>
                                            <td class="td-actions text-center">
                                                <% if (account.user && account.user.role=="admin") { %>
                                                <a data-i18n="[title]edit-user" title="Edit User"
                                                    class="btn btn-primary" href="/users/edit/<%= data.users[i]._id %>">
                                                    <i class="material-icons">edit</i>
                                                </a>
                                                <a data-i18n="[title]delete-user" title="Delete User"
                                                    class="btn btn-primary"
                                                    href="/users/delete/<%= data.users[i]._id %>?role=<%= data.users[i].role %>&name=<%= data.users[i].name %>"
                                                    onclick="return confirm(i18next.t('deployment-delete-confirm', {'name': '<%= data.users[i].name %>'}))">
                                                    <i class="material-icons">delete_forever</i>
                                                </a>
                                                <% } else { %>
                                                <a data-i18n="[title]view-user" title="View User"
                                                    class="btn btn-primary" href="/users/view/<%= data.users[i]._id %>">
                                                    <i class="material-icons">pageview</i>
                                                </a>
                                                <% } %>
                                            </td>
                                        </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('includes/footer') %>